@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body{
    /* background-image: url("./image4.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    background-position:top;
    background-position-x: center; */
    background: linear-gradient(21deg, rgba(3,127,186,0.7402311266303396) 0%, rgba(115,196,43,1) 100%);

    color: white;
}
.header{
    text-align: center;
}
.profilepic{
border-radius: 3px;
height: 150px;
width: 150px;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}
div>div{
 font-family: 'Oswald', sans-serif;
font-size:x-large;
text-align: justify;
transition-duration: 1s;
}
h3{
    /* font-family: 'Oswald', sans-serif; */
    text-align: center;
}
h1  {
    /* font-family: 'Oswald', sans-serif; */
    font-weight: bold;
    text-align: center;
    align-items: center;
}
/* div>div:hover{ */
/* background: lightgrey; */
/* text-shadow: 1px 0px; */
/* box-shadow: 5px 5px 2px 2px red; */
/* } */